<!DOCTYPE html>
<html>
<head>
  <title>Loanr</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>

<h2 class="headertext">Lend stuff<span class = "glyphicon glyphicon-transfer"></span>
	Borrow stuff &nbsp &nbsp &nbsp &nbsp </span>Save money </span>
	 and the planet <span class = "glyphicon glyphicon-tree-conifer"></span></h2>

<%= yield %>

<div id="imagesdiv">
	<%=image_tag "jquery.png", :width=>"150", :height=>"73", :alt=>"jQuery logo"%>
	<%=image_tag "html5.png", :width=>"100", :height=>"100", :alt=>"html5 logo"%>
	<%=image_tag "javascript.png", :width=>"100", :height=>"100", :alt=>"javascript logo"%>
	<%=image_tag "css3.png", :width=>"75", :height=>"100", :alt=>"css3 logo"%>
	<%=image_tag "rubylogo.png", :width=>"85", :height=>"85", :alt=>"ruby logo"%>
	<%=image_tag "rails.png", :width=>"100", :height=>"100", :alt=>"rails logo"%>
	<%=image_tag "sass.png", :width=>"100", :height=>"100", :alt=>"sass logo"%>
<!-- 	<%=image_tag "mongodb.png", :width=>"105", :height=>"50", :alt=>"mongodb logo"%> -->
</div>
<!-- <div id="imagesdiv2">
	
	


</div> -->


<p id="crafted"><span class = "glyphicon glyphicon-tree-deciduous"></span>     Proudly crafted in Raleigh, NC     <span class = "glyphicon glyphicon-tree-deciduous"></span></p>
<div id="error"></div>
<div id="success"></div>
</body>
</html>
